@unocss;

.symbol {
  font-family: 'Symbols Nerd Font Mono';
  aspect-ratio: 1/1;
}

* {
  font-family: 'Lato';
  font-size: 18px;
}

html, body, #app {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  // overflow: hidden;
}

body {
  /* height: 100%; */
  @apply m-0 p-0 bg-transparent text-zinc-200;
}
